$main-bg: #101017;
$main-bg-second: #0a0a0f;
$main-text: #888888;
$main-title: #fff;
$main-accent: #198754;

body {
    background: $main-bg;
    color: $main-text;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
.wrapper {
    min-height: 100vh;
}
section {
    padding: 3.125rem 0;
    @media (min-width: 768px) {
        padding: 6.25rem 0;
    }
}
p {
    margin: 0;
}
a {
    color: $main-title;
    text-decoration: none;
    transition: 0.3s all ease;
}
a:hover {
    opacity: 0.7;
}
img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}
ul {
    margin: 0;
}
button {
    color: $main-title;
    transition: 0.3s all ease;
}
.section-title {
    margin-bottom: 3rem;

    &__top {
        @media (min-width: 992px) {
            order: 1;
        }
    }

    &__name {
        position: relative;
        color: $main-accent;
        padding-left: 3.75rem;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 3.125rem;
            height: 0.125rem;
            background: $main-accent;
        }
        @media (min-width: 992px) {
            font-size: 1.25rem;
            font-weight: 700;
        }
    }

    &__description {
        max-width: 22.5rem;
    }

    &__bottom {
    }

    &__main-text {
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.625rem;
        color: $main-title;
        max-width: 28.625rem;
        @media (min-width: 992px) {
            font-size: 2.5rem;
            line-height: 3rem;
        }
    }
    &__main-subtext {
        margin-top: 0.625rem;
        @media (min-width: 768px) {
            margin-top: 1.25rem;
        }
    }
}

.pulse {
    opacity: 0;
    animation: pulse 1.3s infinite;
}
@keyframes pulse {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before,
.hamburger--spin.is-active .hamburger-inner:before,
.hamburger--spin.is-active .hamburger-inner:after,
.hamburger--spin.is-active .hamburger-inner {
    background: $main-accent;
}
// .hamburger--elastic.is-active .hamburger-inner:before
